.Board {

}

.Board .row {
    display: flex;
    margin: 12px 0px;
}

.Board .row .char {
    height: 60px;
    aspect-ratio: 1;
    margin: 0px 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(40,40,40);
    border: 2px solid rgb(10,10,10);
    border-radius: 2px;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.02s ease-in-out;
}

.Board .row .char.active {
    transform: scale(1.05);
    background-color: rgb(55,55,55);
}

.Board .row .char.proper {
    background-color: rgb(73, 138, 73);
}

.Board .row .char.correct {
    background-color: rgb(196, 196, 96);
}

.Board .alert {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(182, 0, 0, 0.9);
    font-family: sans-serif;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 20px;
    animation: 0.3s fly-down;
}

@keyframes fly-down {
    0% {
        top: -200px;
    }
}